#gameboard {
    margin: auto;
    width: 825px;
    height: 825px;
    display: flex; 
    flex-wrap: wrap;
}

.square {
    margin: auto;
    height: 103.125px;
    width: 103.125px;
    position: relative;
}

.square svg {
    height: 77px;
    width: 77px;
    margin: 15px;
    position: relative;
    z-index: -9;
}

path {
    margin: auto; 
    position: relative;
    z-index: -10;
}

.piece {
    position: relative;
    z-index: 9;
}

.gray {
    background-color: rgb(56, 53, 53);
}

.red{
    background-color: red;
}

.black{
    fill: black
}

.white{
    fill: rgb(235, 235, 230)
}

body {
    background-color: rgb(68, 68, 68);
}

button {
    width: 825px;
    height: 50px;
    background-color: black;
    color: white;
    border-radius: 12px;
}